.footer {
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
}

.footer > div {
    width: 250px;
}

.footer .info {
    width: 250px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #595959;
}
.footer .info a{
    margin-left: 5px;
    text-decoration: none;
    color: #FF9800;
}

.footer span {
    color: #747474;
    margin-right: 12px;
    padding: 2px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}

.footer span:hover {
    border-color: #6e6e6e;
    color: #000;
}

.footer span.active {
    border-color: #FFC107;
    color: #000;
}

.filter-buttons {
    text-align: left;
}

.disabled-block {
    display: none;
}