<div class="footer" [ngClass]="{'disabled-block': isEmptyList}">
    <div class="filter-buttons">
        <span 
            class="filter-all"
            [ngClass]="{'active': filter === 'all'}"
            (click)="changeFilter($event)"
        >All</span>
        <span 
            class="filter-active"
            [ngClass]="{'active': filter === 'active'}"
            (click)="changeFilter($event)"
        >Active</span>
        <span 
            class="filter-completed"
            [ngClass]="{'active': filter === 'completed'}"
            (click)="changeFilter($event)"
        >Completed</span>
    </div>
    
    <div class="info">
        Created by <a href="https://github.com/sbinfo" target="_blank"> Said Babaiev</a>
    </div>
</div>