.todo-item {
    position: relative;
    margin-bottom: 15px;
    background: #fff;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item p {
    display: inherit;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

span.select-item {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #b2b2b2;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.todo-text {
    width: 100%;
}

.completed p {
    color: #747474;
    text-decoration: line-through;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.completed p > span.select-item {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.delete-item {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #FF5722;
    background: #FF5722;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-disabled {
    display: none;
}

.edit-disabled {
    display: none;
}

.edit {
    position: absolute;
    width: 93%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;
    user-select: none;
}