.todo-item {
    margin-bottom: 15px;
    background: #fff;
    padding: 15px 20px;
    display: flex;
}

span.select-item {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #b2b2b2;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.completed {
    color: #747474;
    text-decoration: line-through;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.completed > span {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
