<li class="todo-item" [ngClass]="{'completed': todo.completed}">
    <p>
        <span class="select-item" (click)="selectItem()">
            <fa-icon [icon]="faCheck"></fa-icon>
        </span>
        <span class="todo-text" (dblclick)="editMode()">
            {{ todo.text }}
        </span>
    </p>

    <input
        #edit 
        type="text" 
        class="edit"
        [ngClass]="{'edit-disabled': !toEditMode}"
        [value]="todo.text"
        (keydown.enter)="doneEdit($event)"
        (keydown.esc)="doneCancel($event)"
        (blur)="doneEdit($event)"
    >

    <span class="delete-item" (click)="deleteItem()">
        <fa-icon [icon]="faTimes"></fa-icon>
    </span>
</li>