<div class="app">

  <app-header
    (clearCompleted)="clearCompleted()"
    [completedCount]="completedTodosCount()"
    [notCompletedTodosCount]="notCompletedTodosCount()"
    [isEmptyList]="isEmptyList()"
  ></app-header>

  <app-add-todo
    (addTodoItem)="addItem($event)"
    (selectAllItems)="selectAll()"
    [isSelectedAll]="isSelectedAll"
  ></app-add-todo>

  <app-todo-list
    [todos]="filteredTodos()"
    (indexForDelete)="deleteTodo($event)"
    (changedTodoStatus)="changeTodoStatus($event)"
  ></app-todo-list>

  <app-footer
    [filter]="filter"
    (filterText)="changeFilter($event)"
    [isEmptyList]="isEmptyList()"
  ></app-footer>

</div>