* {
    font-family: Roboto, monospace, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #1098ad;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: #FFC107;
}

.btn:hover {
    background-color: #e3ac07;
}